.body, .body-galeria, .body-pedidos {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url(../Imagenes/Fondo.webp);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 5em;
  min-height: 100vh;
}

.body-pedidos {
  background-image: url(../Imagenes/pedidos.jpg);
}

.body-galeria {
  background-image: linear-gradient(to bottom, black, white);
}

img {
  max-width: 100%;
}

.body-comodin {
  background-color: rgba(255, 255, 255, 0.089);
  margin: 0;
  padding: 0;
}

#header, #header-pedidos {
  background-color: rgba(255, 255, 255, 0.575);
  display: flex;
  justify-content: space-around;
}

.deco-header:hover {
  transition: all 0.5s;
  text-decoration: underline;
}

.header-blanco {
  color: #fff !important;
}

.deco-header {
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.deco-header-blanco:hover {
  transition: all 0.5s;
  text-decoration: underline;
  text-decoration-color: white;
}

.deco-menu {
  background-color: white;
}

/* HEADER GALERIA */
#header-galeria {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}

.logo-inicio {
  opacity: 0.4;
  width: 160px;
  height: 100px;
}

#header-pedidos {
  background-color: rgba(73, 71, 71, 0.575);
}

#footer, #footer-recetas, #footer-pedidos {
  display: flex;
  background-color: rgba(255, 255, 255, 0.575);
  position: absolute;
  bottom: 0;
  width: 100%;
  color: black;
  justify-content: space-around;
}

.logo-footer {
  width: 12px;
  height: 12px;
}

.wp img {
  width: 30px;
  height: 30px;
}

.wp {
  position: fixed;
  bottom: 0;
  right: 20px;
}

.footer-p {
  font-size: 12px;
}

.logo-footer:hover {
  transform: scale(1.1);
}

.wp img:hover {
  transform: scale(1.2);
}

@media (min-width: 480px) {
  .logo-footer {
    width: 20px;
    height: 20px;
  }
  .wp img {
    width: 40px;
    height: 40px;
  }
  .footer-p {
    font-size: 20px;
  }
}
#footer-pedidos {
  background-color: rgba(73, 71, 71, 0.575);
}

#footer-recetas {
  background-color: rgba(73, 71, 71, 0.575);
  position: relative;
  margin-top: 100px;
}

#section-inicio {
  grid-area: inicio;
  text-align: center;
}

#section-inicio a img {
  width: 40px;
  height: 40px;
  text-align: center;
}

#section-inicio .p-ig {
  text-align: center;
  font-family: "Delius", cursive;
  font-size: 25px;
  margin-top: 70px;
  background-color: gainsboro;
  opacity: 0.6;
}

#section-inicio .p-index {
  font-family: "Delius", cursive;
  font-size: 50px;
  text-align: center;
  margin: 1%;
  background-color: gainsboro;
  opacity: 0.6;
}

.h1-index {
  font-family: "Dancing Script", cursive;
  font-size: 75px;
  text-align: center;
  line-height: 130px;
  padding: 15px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: gainsboro;
  opacity: 0.6;
}

#section-inicio a img:hover {
  transform: scale(1.1);
}

#section-inicio p {
  margin-top: 55px;
  font-size: 20px;
}

#section-inicio a img {
  width: 60px;
  height: 60px;
}

@media (min-width: 768px) {
  .h1-index {
    padding: 50px;
    font-size: 160px;
    background-color: transparent;
    opacity: 1;
  }
  #section-inicio .p-ig {
    opacity: 1;
    background-color: transparent;
  }
  #section-inicio .p-index {
    opacity: 1;
    background-color: transparent;
  }
}
.section-form {
  text-align: center;
  margin: 5%;
}

.h1-contacto {
  font-family: "Lato", sans-serif;
  font-size: 60px;
  text-align: center;
  line-height: 60px;
  padding: 1%;
}

.section-form p {
  font-family: "Lato", sans-serif;
  font-size: 25px;
}

.div-boton {
  margin-top: 30px;
  margin-bottom: 25px;
}

form {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.575);
  border: solid 1px black;
  display: inline-block;
  margin-right: 15px;
  margin-top: 30px;
  max-width: 100%;
}

.form {
  width: 600px;
  height: auto;
}

textarea {
  width: 250px;
  height: 100px;
}

legend {
  font-family: "Lato", sans-serif;
  font-size: 250%;
}

label {
  font-family: "Lato", sans-serif;
  font-size: 150%;
}

.gallery__item:hover {
  transform: scale(1.1);
}

.div-img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.img-carrousel {
  width: 1000px;
  height: auto;
}

.h5-carrousel {
  text-align: end;
  color: white;
}

.h5-carrousel a {
  color: white;
}

.img-galeria {
  width: 200px;
  height: auto;
  margin-top: 25px;
}

@media (min-width: 768px) {
  .gallery__item:hover {
    transform: scale(1.5);
  }
}
.section-recetas h1 {
  text-align: center;
  font-size: 70px;
  line-height: 120px;
  padding: 1%;
}

.recetas {
  border-radius: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  background-image: url(../Imagenes/Receta.png);
  border: solid 1px black;
  margin-right: 15px;
  margin-bottom: 100px;
  width: 400px;
  align-items: center;
  text-align: center;
  max-width: 100%;
}

iframe {
  width: 200px;
  height: 100px;
}

.div-recetas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.div-h1-recetas {
  text-align: center;
}

.h1-recetas {
  font-size: 250%;
  line-height: 160px;
  padding: 1%;
  text-align: center;
}

.h2-recetas {
  font-size: 220%;
}

.h3-recetas {
  font-size: 150%;
}

.h3-recetas-barra {
  font-size: 150%;
}

.p-recetas {
  margin-top: 35px;
}

.p-recetas-pan {
  margin-top: 30px;
}

.p-recetas-barra {
  margin-top: 37px;
}

.p-recetas-garbanzo {
  margin-top: 16px;
}

@media (min-width: 1200px) {
  .section-recetas h1 {
    justify-content: center;
    text-align: center;
    font-size: 400%;
    line-height: 180px;
  }
  .div-recetas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 50px;
  }
  .recetas {
    width: 460px;
    height: auto;
  }
  iframe {
    width: 210px;
    height: 110px;
  }
}
.card {
  max-width: 100%;
  z-index: 1;
}

.img-card {
  height: 200px;
  z-index: 1;
}

.p-recetas {
  margin-bottom: 15px;
  text-align: center;
  background-color: gainsboro;
  opacity: 1;
}

.h1-recetass {
  position: fixed;
}

.h5-recetas, .h6-recetas {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 25px;
  background-color: gainsboro;
  opacity: 1;
}

.iframe {
  width: 100%;
  height: 500px;
}

.h4-recetas {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 35px;
}

.card-recetas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.enlace-recetas {
  text-decoration: none;
  color: black;
}

.p-beneficios {
  font-size: 20px;
}

.h1-menu {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 50px;
  line-height: 60px;
  padding: 1%;
}

.p p {
  font-size: 30px;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
  color: black;
}

.p a {
  color: black;
}

#menu {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.card {
  position: relative;
  width: 300px;
  height: 450px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 1s;
}

.card .adelante {
  transform: rotateY(0deg);
  box-shadow: 0 5px 10px #000;
}

.card .adelante img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.card .atras {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px #000;
}

.card .atras img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.card:hover .adelante {
  transform: rotateY(180deg);
}

.card:hover .atras {
  transform: rotateY(360deg);
}

.p-pedidos {
  font-size: 20px;
  text-align: center;
}

.p-pedidos a {
  font-weight: bold;
}

@media (min-width: 1200px) {
  #menu {
    flex-direction: row;
    gap: 100px;
  }
  .h1-menu {
    font-size: 75px;
  }
}

/*# sourceMappingURL=css.css.map */
