.body-1
{
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url(../Imagenes/Fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 5em;
    min-height: 100vh;
}


.body-pedidos
{
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url(../Imagenes/pexels-pixabay-326268.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 0,1em;
    min-height: 100vh;
}

.body-galeria
{
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: linear-gradient(to bottom, black, white);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 5em;
    min-height: 100vh;
}


/************ INICIO HEADER ************/

#header
{
    background-color: rgba(255, 255, 255, 0.575);
    display: flex;
    justify-content: space-around;
}


.deco-header:hover
{
    transition: all .5s;
    text-decoration: underline;
}

.header-blanco
{
    color: #fff !important;
}

.deco-header-blanco:hover
{
    transition: all .5s;
    text-decoration: underline;
    text-decoration-color: white;
}

.deco-menu
{
    background-color: white;
}

/************ FIN HEADER ************/



/************ INICIO FOOTER ************/

#footer
{
    display: flex;
    background-color: rgba(255, 255, 255, 0.575);
    position: absolute;
    bottom: 0%;
    width: 100%;
    color: black;
    justify-content: space-around;
}

.logo-footer
{
    width: 12px;
    height: 12px;
}

.wp img
{
    width: 25px;
    height: 25px;
}


.wp
{
    position: fixed;
    bottom: 0;
    right: 20px;
}

.footer-p
{
    font-size: 12px;
}

.logo-footer:hover
{
    transform: scale(1.1);
}

.wp img:hover
{
    transform: scale(1.2);
}


/************ FIN FOOTER ************/


img
{
    max-width: 100%;
}


/************ INDEX ************/
/*
#section-inicio
{
    grid-area: inicio;
    text-align: center;
}

#section-inicio a img
{
    width: 60px;
    height: 60px;
    text-align: center;
}

#section-inicio p
{
    text-align: center;
    font-family: 'Delius', cursive;
    margin-top: 55px;
    font-size: 20px;
}

#section-inicio .p-index
{
    font-family: 'Delius', cursive;
    font-size: 50px;
    text-align: center;
    margin: 1%;
}

.h1-index
{
    font-family: 'Dancing Script', cursive;
    font-size: 75px;
    text-align: center;
    line-height: 130px;
    padding: 50px;
    margin-bottom: 50px;
}

#section-inicio a img:hover
{
    transform: scale(1.1);
}

@media (min-width: 768px)
{
    .h1-index
    {
        font-size: 160px;
    }
}
*/

/************ FIN SECTION ************/



/******************* CONTACTO *******************/

.section-form
{
    text-align: center;
    margin: 5%;
}

.formulario
{
    width: 500px;
    height: auto;
}

.h1-contacto
{
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    text-align: center;
    line-height: 60px;
    padding: 1%;
}

.section-form p
{
    font-family: 'Lato', sans-serif;
    font-size: 25px;
}

.div-form
{
    font-family: 'Lato', sans-serif;
    font-size: 110%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.div-boton
{
    margin-top: 30px;
    margin-bottom: 25px;
}

form
{
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.575);
    width: 300px;
    height: 500px;
    border: solid 1px black;
    display: inline-block;
    margin-right: 15px;
    margin-top: 30px;
    max-width: 100%;
}

textarea
{
    width: 250px;
    height: 100px;
}

legend
{
    font-family: 'Lato', sans-serif;
    font-size: 250%;
}

label
{
    font-family: 'Lato', sans-serif;
    font-size: 150%;
}

input:focus
{
    border: solid green;
    outline: green;
}

textarea:focus
{
    border: solid green;
    outline: green;
}

/************ FIN INDEX ***********/


/************ PEDIDOS ************/


.h1-menu
{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 250%;
    line-height: 60px;
    padding: 1%;
}

.p p
{
    font-size: 30px;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    color: #fff;
}

.p a
{
    color: #fff;
}

#menu
{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.card 
{
            position: relative;
            width: 300px;
            height: 450px;
            margin: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
}

.card .face 
{
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            border-radius: 10px;
            overflow: hidden;
            transition: 1s;
}

.card .adelante 
{
    transform: rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.card .adelante img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .atras
{
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.card .atras img
{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card:hover .adelante
{
    transform: rotateY(180deg);
}

.card:hover .atras
{
    transform: rotateY(360deg);
}

.p-pedidos
{
    font-size: 20px;
    text-align: center;
}

.p-pedidos a
{
    font-weight: bold;
}


@media (min-width: 1200px)
{

    #menu
    {
        flex-direction: row;
        gap: 100px;
    }

}

/************ INICIO FOOTER PEDIDOS ************/

#footer-pedidos
{
    display: flex;
    background-color: rgba(255, 255, 255, 0.575);
    position: relative;
    margin-top: 50px;
    width: 100%;
    color: black;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
}


@media (max-width: 1199px)
{
    #footer-pedidos
    {
        position: relative;
    }
}


/************ RECETAS ***********/

.section-recetas h1
{
    text-align: center;
    font-size: 70px;
    line-height: 120px;
    padding: 1%;
}

.recetas
{
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    background-image: url(../Imagenes/Receta.png);
    border: solid 1px black;
    margin-right: 15px;
    margin-bottom: 100px;
    width: 400px;
    align-items: center;
    text-align: center;
    max-width: 100%;
}

iframe
{
    width: 200px;
    height: 100px;
}

.div-recetas
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.div-h1-recetas
{
    text-align: center;
}

.h1-recetas
{
    font-size: 250%;
    line-height: 160px;
    padding: 1%;
    text-align: center;
}

.h2-recetas
{
    font-size: 220%;
}

.h3-recetas
{
    font-size: 150%;
}

.h3-recetas-barra
{
    font-size: 150%;
}

.p-recetas
{
    margin-top: 35px;
}

.p-recetas-pan
{
    margin-top: 30px;
}

.p-recetas-barra
{
    margin-top: 37px;
}

.p-recetas-garbanzo
{
    margin-top: 16px;
}

@media (min-width: 1200px)
{
    .section-recetas h1
    {
        justify-content: center;
        text-align: center;
        font-size: 400%;
        line-height: 180px;
    }

    .div-recetas
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding: 50px;
    }

    .recetas
    {
        width: 460px;
        height: auto;
    }

    iframe
    {
        width: 210px;
        height: 110px;
    }
}


/************ GALERIA ************/

/************ INICIO HEADER GALERIA ************/

#header-galeria
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.logo-inicio
{
    width: 120px;
    height: 80px;
}

#header-galeria
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo-inicio
{
    width: 160px;
    height: 100px;
}


/************ FIN HEADER GALERIA ************/


/************ INICIO FOOTER GALERIA ************/

#footer-galeria
{
    grid-area: footer;
    display: flex;
    position: absolute;
    bottom: 0%;
    width: 100%;
    color: black;
    justify-content: space-around;
}

.logo-footer
{
    width: 12px;
    height: 12px;
}

.wp img
{
    width: 25px;
    height: 25px;
}

.wp
{
    position: fixed;
    bottom: 0;
    right: 20px;
}

.footer-p
{
    font-size: 12px;
}

@media (min-width: 480px)
{
    .logo-footer
    {
        width: 20px;
        height: 20px;
    }

    .wp img
    {
        width: 40px;
        height: 40px;
    }

    .footer-p
    {
        font-size: 20px;
    }
}

/************ FIN FOOTER GALERIA ************/



/************ INICIO GALERIA ************/

.contenedor
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-top: 45px;
    grid-auto-rows: 150px;
    margin-bottom: 15px;
}

.gallery__img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.gallery__item:nth-child(1)
{
    grid-column-start: 2;
    grid-row-start: span 2;
}

.gallery__item:nth-child(3)
{
    grid-row-start: 1;
}

.gallery__item:nth-child(5)
{
    grid-row-start: span 2;
}

@media (min-width: 480px)
{
    .contenedor
    {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 400px;
        margin-top: 75px;
        margin-bottom: 75px;
    }

    .gallery__item:hover
    {
        transform: scale(1.1);
    }
} 

/*INICIO CON SASS*/

#section-inicio{
    grid-area: inicio;
    text-align: center;
        h1{
            font-family: 'Dancing Script', cursive;
        font-size: 75px;
        text-align: center;
        line-height: 130px;
        padding: 50px;
        margin-bottom: 50px;
        }
            .p-index{
                font-family: 'Delius', cursive;
                font-size: 50px;
                text-align: center;
                margin: 1%;
            }
                p{
                    text-align: center;
                    font-family: 'Delius', cursive;
                    margin-top: 55px;
                    font-size: 20px;
                }
                    a img{
                        width: 60px;
                        height: 60px;
                        text-align: center;

                        &:hover{
                            transform: scale(1.1);
                        }
                    }
}

@media (min-width: 768px)
{
    .h1-index
    {
        font-size: 160px;
    }
}

/*SASS EN INDEX*/
