@import "body-header-footer/body";
@import "body-header-footer/header";
@import "body-header-footer/footer";

@import "mixin/mixin";

@import "pages/index";
@import "pages/contacto";
@import "pages/galeria";
@import "pages/recetas";
@import "pages/pedidos";
