.gallery__item:hover
{
    transform: scale(1.1);
}

.div-img
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.img-carrousel
{
    @include tamanio (1000px , auto);
}

.h5-carrousel
{
    text-align: end;
    color: white;
}

.h5-carrousel a{
    color: white;
}

.img-galeria
{   
    @include tamanio (200px ,auto);
    margin-top: 25px;
}

@media (min-width: 768px)
{
    .gallery__item:hover{
        transform: scale(1.5);
    }
}

.button-carrousel
{
    background-color: blue;
    border-radius: 30px;
}

.menu-blanco
{
    background-color: rgba(255, 255, 255, 0.336);
}

.fondo-menu
{
    background-color: rgba(255, 249, 249, 0.329);
}