// .section-recetas h1
// {
//     text-align: center;
//     font-size: 70px;
//     line-height: 120px;
//     padding: 1%;
//     font-family: cursive;
// }

.section-recetas h1
{
        justify-content: center;
        text-align: center;
        font-size: 400%;
        line-height: 140px;
        font-family: cursive;
        padding: 35px;
}


// @media (min-width: 1200px)
// {
//     .section-recetas h1
//     {
//         justify-content: center;
//         text-align: center;
//         font-size: 400%;
//         line-height: 180px;
//     }
// }

.img-recetas
{
    height: 200px;
}

.h5-recetas, .h6-recetas
{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;
    background-color: gainsboro;
    opacity: 1;
    margin-left: 15px;
}

.h6-recetas
{
    font-size: 20px;
}

.card-recetas
{   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.enlace-recetas
{
    text-decoration: none;
    color: black;
    color: red;
}

.clock
{
    position: absolute;
    bottom: 0;
    font-size: 30px;
}

.p-clock
{
    position: relative;
    top: 110px;
    left: 50px;
}

.p-clock-2
{
    @extend .p-clock;
    top: 62px;
}

.p-clock-masatarta
{
    @extend .p-clock;
    top: 85px;
}

.p-beneficios
{
    font-size: 20px;
}

.iframe
{
    width: 100%;
    height: 500px;
}

.p-recetas
{
    margin-bottom: 15px;
    text-align: start;
    background-color: gainsboro;
    opacity: 1;
    margin-left: 15px;
    margin-top: 25px;
}

.div-beneficios li
{
    list-style: none;
}
