.section-recetas h1
{
    text-align: center;
    font-size: 70px;
    line-height: 120px;
    padding: 1%;
}

.recetas
{
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    background-image: url(../Imagenes/Receta.png);
    border: solid 1px black;
    margin-right: 15px;
    margin-bottom: 100px;
    width: 400px;
    align-items: center;
    text-align: center;
    max-width: 100%;
}

iframe
{
    @include tamanio (200px, 100px);
}

.div-recetas
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.div-h1-recetas
{
    text-align: center;
}

.h1-recetas
{
    font-size: 250%;
    line-height: 160px;
    padding: 1%;
    text-align: center;
}

.h2-recetas
{
    font-size: 220%;
}

.h3-recetas
{
    font-size: 150%;
}

.h3-recetas-barra
{
    font-size: 150%;
}

.p-recetas
{
    margin-top: 35px;
}

.p-recetas-pan
{
    margin-top: 30px;
}

.p-recetas-barra
{
    margin-top: 37px;
}

.p-recetas-garbanzo
{
    margin-top: 16px;
}

@media (min-width: 1200px)
{
    .section-recetas h1
    {
        justify-content: center;
        text-align: center;
        font-size: 400%;
        line-height: 180px;
    }

    .div-recetas
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding: 50px;
    }

    .recetas
    {
        @include tamanio (460px, auto);
    }

    iframe
    {
        @include tamanio (210px, 110px);
    }
}