.body
{
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url(../Imagenes/Fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 5em;
    min-height: 100vh;
}


.body-pedidos
{
    @extend .body;
    background-image: url(../Imagenes/pexels-pixabay-326268.jpg);
}

.body-galeria
{
    @extend .body;
    background-image: linear-gradient(to bottom, black, white);
}

img
{
    max-width: 100%;
}