.body
{
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url(../Imagenes/Fondo.webp);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 5em;
    min-height: 100vh;
}


.body-pedidos
{
    @extend .body;
    background-image: url(../Imagenes/pedidos.webp);
}

.body-galeria
{
    @extend .body;
    background-image: linear-gradient(to bottom, black, white);
}

.body-recetas
{
    @extend .body;
    background-image:url(../Imagenes/pedidos.webp);
}

.body-comidas
{
    @extend .body;
    background-image: url(../Imagenes/comidas.webp)
}

img
{
    max-width: 100%;
}
