#footer
{
    display: flex;
    background-color: rgba(255, 255, 255, 0.575);
    position: absolute;
    bottom: 0;
    width: 100%;
    color: black;
    justify-content: space-around;
}

.logo-footer
{
    width: 15px;
    height: 15px;
}

.wp img
{
    width: 30px;
    height: 30px;
}


.wp
{
    position: fixed;
    bottom: 0;
    right: 20px;
}

.footer-p
{
    font-size: 15px;
}

.logo-footer:hover
{
    transform: scale(1.1);
}

.wp img:hover
{
    transform: scale(1.2);
}

@media (min-width: 480px)
{
    .logo-footer
    {
        width: 20px;
        height: 20px;
    }

    .wp img
    {
        width: 40px;
        height: 40px;
    }

    .footer-p
    {
        font-size: 20px;
    }
}

#footer-pedidos
{
    @extend #footer;
    background-color: rgba(73, 71, 71, 0.575);
}

#footer-recetas
{
    @extend #footer;
    background-color: rgba(73, 71, 71, 0.575);
    position: relative;
}

@media (min-width: 1024px)
{
    #footer-recetas
    {
        position: absolute;
    }
}

#footer-comidas
{
    @extend #footer;
    background-color: rgba(73, 71, 71, 0.575);
}
