#header
{
    background-color: rgba(255, 255, 255, 0.575);
    display: flex;
    justify-content: space-around;
}


.deco-header:hover
{
    transition: all .5s;
    text-decoration: underline;
}

.header-blanco
{
    color: #fff !important;
}

.deco-header
{
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.deco-header-blanco:hover
{
    transition: all .5s;
    text-decoration: underline;
    text-decoration-color: white;
}

.deco-menu
{
    background-color: white;
}

/* HEADER GALERIA */ 
#header-galeria
{
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}

.logo-inicio
{
    width: 160px;
    height: 100px;
}